/*
	Website:  		Executax		
	CSS Version: 	3
	
	Purpose:
	
	Related Files:
		index.php
		
*/

/* ------------------ Reset ------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.25;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------ End Reset ------------------ */

	
	container {
	    width: 450px;
	    margin: 0 auto;
	    padding: 15px;
	    background: white;
	    border: 2px solid navy;
	}
		
	h1 {
	    color: black;
	    font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
	    font-weight: 700;
		font-style: italic;
		font-size: 3em;
		margin-bottom: 0;
	}
	
	h2 {
		border-bottom: 4px solid #35478C;
		width: 50.44666316342617%;
		margin: 0 auto;
	    color: #35478C;
	    font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
	    font-weight: 400;
	    font-size: 1em;
		font-style: italic;
		padding-bottom: 5px;
		width:960px;
	}
	
	h3{
		clear: left;
		color: #35478C;
		margin-top: 20px;
		padding-bottom: 10px;
	}
	
	h4{
		clear:left;
	}
	
	nav ul li{
		background-color: #ADD5F7;
		list-style: none;
		text-decoration:none;
		font-size: 125%;
		font-weight: 400;
		padding-right: 50px;
		padding-bottom: 10px;
		text-align: right;
	}
	
	nav ul li a{
		color: #fff;
		text-decoration:none;
	}
	
	fieldset{
		clear: left;
	}
	
	legend{
		font-weight: 700;
		padding-top: 50px;
	}
	
	label {
	    width: 14em;
	    float: left;
	}
	
	select{
		display: block;
	}
	
	
	input {
		display: block;
	    width: 150px;
	}
	
	textarea{
		resize: none;
		margin: 0px;
		margin-top: 2px;
	}
	
	footer{
		clear:left;
		border-top: 4px solid #35478C;
		padding: 14px 0 155px;
		width: 50.44666316342617%;
		margin: 0 auto;
	}
	
	.error{
		border-color: #F00;
		color: #F00;		
	}
		
	.hidden{
		display: none;
	}
	
	.show{
		display: block;
	}

@media only screen 
and (min-width : 1224px) {
	
	#page {
		width: 50.44666316342617%;
		margin: 0 auto;
	}
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1223px) {
	
	body{
		background: #FFF;
	    font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
	    margin: 0 auto;
	    padding: 0;
		width: 50%;
	}

	#page {
		width: ;
		margin: 0 auto;
	}
	

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	body{
		background: #FFF;
	    font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
	    margin: 0 auto;
	    padding: 0;
		width: 50%;
	}

	#page {
		width: 32.5801366263794;
		margin: 0 auto;
	}
}

