body{
	background: #ADD5F7;
    font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

container {
    width: 450px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border: 2px solid navy;
}
	
h1 {
    color: black;
    font-weight: 700;
	font-style: italic;
	font-size: 4em;
	margin-bottom: 1px;
}

h2 {
    color: #35478C;
    font-weight: 400;
	font-style: italic;
	padding-top: 1px;
	margin-top: 1px;
}

h3{
	clear: left;
	color: #35478C;
}

h4{
	clear:left;
}
nav ul li{
	color: #4E7AC7;
	float:left;
	list-style: none;
	text-decoration:none;
	font-size: 225%;
	font-weight: 700;
	padding-right: 50px;
	padding-bottom: 50px;
}

nav ul li a{
	text-decoration:none;
}

label {
    width: 12em;
    padding-right: 1em;
    float: left;
}

select{
	display: block;
	margin-left: 16em;	
}


#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

textarea{
	border: 0;
	resize: none;
	margin:0px;
	margin-top: 2px;
}

footer{
	clear:left;
	margin-top: 700px;
	border-top: 2px dotted #5f5f5f;
	padding: 14px 0 155px;
}

.error{
	border-color: #F00;
	color: #F00;		
}
	
.hidden{
	display: none;
}

.show{
	display: block;
}
